<?php
$host = '{{ web_host }}';
$db   = '{{ db_name }}';
$user = '{{ db_user }}';
$pass = '{{ db_token }}';

try {
    $pdo = new PDO("mysql:host=$host;dbname=$db;charset=utf8", $user, $pass);
    $pdo->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION);
} catch (PDOException $e) {
    die("Connection failed: " . $e->getMessage());
}
?>